@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Rubik&display=swap");

body {
  font-family: "Rubik", sans-serif;
  color: #fff;
}

.outerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginDiv {
  font-size: 1.1rem;
  font-weight: 600;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoDiv {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImg {
  max-height: 20rem;
  width: auto;
  border-radius: 50%;
}

.welcomeDiv {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  height: 30%;
}

.welcomeText {
  font-size: 1rem;
  font-weight: 600;
}
