.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
  width: 100dvw;
  height: 100dvh;
  background-color: #fff;
  position: relative;
}

/* --------------------------------------------------------------- */

.headerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100dvw;
  top: 1rem;
  margin-inline: 0.5rem;
  z-index: 2;
  height: 10dvh;
  background-color: #fddc00;
}

.backArrow {
  top: 1rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.backArrow > img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.backArrow > h3 {
  margin-top: 0.1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3f3f3f;
}

/* --------------------------------------------------------------- */

.editSettings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-right: 1rem;
}

.editSettings > img{
  height: 1.4rem;
  width: auto;
}

/* --------------------------------------------------------------- */

.dropDown {
  display: none;
  flex-direction: column;
  top: 8.7dvh;
  right: 1.5dvw;
  min-width: 9rem;
  max-width: 12rem;
  background-color: #fddc00;
  z-index: 5;
  position: absolute;
  border-radius: 8px;
  padding: 0.3rem 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.dropDownAnimation {
  animation: dropDown 0.5s;
}

.dropDownAnimationReverse {
  animation: dropDownReverse 0.5s;
}

@keyframes dropDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropDownReverse {
  0% {
    /* opacity: 0 */
    transform: translateY(0);
  }
  100% {
    /* opacity: 1; */
    transform: translateY(-150%);
  }
}

.dropDownItems {
  color: #3f3f3f;
  font-weight: 600;
}

.dropDownItemsText {
  padding: 0.5rem;
  cursor: pointer;
}

/* --------------------------------------------------------------- */

.profileDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100dvw;
  height: 40dvh;
}

.profilePic {
  margin: 0 auto;
}

.profilePic > img {
  max-width: 10rem;
  height: 100%;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.322));
}

.profileData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100dvw;
  margin-top: -3rem;
  color: #3f3f3f;
  font-weight: 600;
}

.profileName {
  font-size: 1.5rem;
}

/* --------------------------------------------------------------- */

.contentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 98dvw;
  height: 50dvh;
  position: relative;
  /* background-color: rgba(143, 143, 143); */
}

.carsDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  border-radius: 5px;
}

.carsDiv::-webkit-scrollbar {
  width: 0;
}

.cars {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  background-color: rgba(143, 143, 143);
  margin: 0.2rem 0;
  border-radius: 10px;
}

.carImage > img {
  max-width: 12.5rem;
  border-radius: 5px;
}

.carDetails {
  margin-inline: auto;
}

.addCarDiv {
  bottom: 0;
  background-color: #fddc00;
  width: 93dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 1rem 0;
}

.addCarDiv > img {
  width: 3.5rem;
  cursor: pointer;
  filter: invert(1) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
}
