.mainDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.2rem 1rem 0.5rem 1rem;
  background-color: #fddc00;
  z-index: 3;
  position: relative;
}

.mainDiv::-webkit-scrollbar {
  width: 0;
}

.topHeading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3f3f3f;
  user-select: none;
}

.threeDots {
  font-size: 1.5rem;
  color: #3f3f3f;
  cursor: pointer;
}

.dropDownDiv{
  position: relative;
  z-index: 3;
}

.dropDown {
  display: none;
  flex-direction: column;
  top: 5.0dvh;
  right: 0dvw;
  min-width: 9rem;
  max-width: 12rem;
  background-color: #fddc00;
  z-index: 1;
  position: absolute;
  border-radius: 8px;
  padding: 0.3rem 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}



.dropDownAnimation {
  animation: dropDown 0.2s;
}

.dropDownAnimationReverse {
  animation: dropDownReverse 0.2s;
}

@keyframes dropDown {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dropDownReverse {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-30%);
    opacity: 0;
  }
}

.dropDownItems {
  color: #3f3f3f;
  font-weight: 600;
}

.dropDownItemsText {
  padding: 0.5rem;
  cursor: pointer;
}


