.mainDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100dvw;
  height: 100%;
  padding-top: 0.5rem;
  background-color: #fff;
  color: #000;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
  background-color: #fff;
  color: #000;
}

.mainHeading {
  font-weight: 600;
  font-size: 1.1rem;
}

.filterSection {
  position: relative;
}

.filterButton {
  margin: 0.2rem 0.5rem;
  cursor: pointer;
  height: 1.2rem;
}

.filterDiv {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2dvw;
  top: 4dvh;
  z-index: 2;
  background-color: #fddc00;
  border-radius: 8px;
  gap: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.filterInnerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 9rem;
  height: 10rem;
}

.filterHeader {
  padding: 10px;
  font-weight: 600;
  margin-inline: auto;
  text-decoration: underline;
  color: #3e3e3e;
}

.dropDown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.dropDownItems {
  color: #3f3f3f;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.dropDownItems img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.dropDownItemsText {
  padding: 0.4rem;
  cursor: pointer;
}

.dropDownAnimation {
  animation: dropDown 0.2s;
}

.dropDownAnimationReverse {
  animation: dropDownReverse 0.2s;
}

@keyframes dropDown {
  0% {
    scale: 0.9;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes dropDownReverse {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.9;
    opacity: 0;
  }
}

.middleLine {
  height: 8rem;
  width: 2px;
  background-color: #3e3e3e;
}

.parkingsDiv {
  min-height: 40dvh;
  max-height: 45dvh;
  overflow-y: auto;
  padding: 0 0.5rem 1rem 0.5rem;
  scroll-behavior: smooth;
}

.parkingsDiv > ul {
  position: relative;
}

.parkingsDiv > ul > h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.parkingsDiv li {
  padding: 0.25rem 0 0.25rem 0;
}

.parkingDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  transition: 0.2s all;
}

.parkingDiv:hover {
  background-color: #cecece50;
  transition: 0.2s all;
}

.parkingInfo {
  display: flex;
  flex-direction: column;
}

.parkingInfo span:nth-child(1) {
  font-size: 1rem;
  font-weight: 600;
}

.parkingInfo span:nth-child(2) {
  font-size: 0.9rem;
}

.parkingStatus {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  gap: 0.5rem;
}

.parkingStatusColor {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  filter: drop-shadow(0 0 0.5px rgb(0, 0, 0));
  z-index: 0;
}

.parkingStatusText {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.filterEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
