.mainDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100dvw;
  height: 100%;
  padding-top: 0.5rem;
  background-color: #fff;
  z-index: 0;
  color: #000;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
  background-color: #fff;
  z-index: 0;
  color: #000;
}

.mainHeading {
  font-weight: 600;
  font-size: 1.1rem;
}

.filterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: 100%;
  padding: 0.2rem 1rem;
  background-color: #cecece;
  z-index: 0;
  color: #000;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.parkingDiv{
    max-height: 32dvh;
    overflow-y: auto;
    padding: 0 1rem 1rem 1rem;
}
