.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.inputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-inline: 10%;
  margin-bottom: 1rem;
  position: relative;
}

.inputDiv > img {
  position: absolute;
  bottom: 10%;
  right: 12%;
  width: 1.6rem;
}

.inputFieldName {
  font-size: 16px;
  font-weight: 600;
  color: #3f3f3f;
}

.input {
  width: 100%;
  height: 2rem;
  border-bottom: 2px solid #ccc;
  color: #3f3f3f;
  background-color: #fff !important;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

.input:autofill {
  background-color: #fff !important;
  box-shadow: inset 0 0 0 50px #fff !important;
}

.input::placeholder {
  color: rgb(179, 179, 179);
  font-weight: 500;
  opacity: 1;
}

.button {
  width: 80%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  padding: 0 10px;
  font-size: 16px;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease-in-out;
  background-color: #ffd000 !important;
  color: #3f3f3f;
  font-weight: 600;
}

.errorMessage {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}
