.mainDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  position: relative;
  border-radius: 12px;
}

.mainDiv::-webkit-scrollbar {
  width: 0;
}

.mapContainer {
  width: 100dvw;
  height: 90dvh;
  z-index: 1;
}

.customPopUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.customPopUp > h1 {
  font-size: 0.9rem;
}

.customPopUp > p {
  padding: 0;
  margin: 0;
  color: #3f3f3f;
}

.customPopUp > p:nth-child(3) {
  color: blue;
  font-weight: 600;
}

.confirmParkingContainer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  margin-inline: auto;
  width: 80%;
  left: 0;
  right: 0;
  margin-bottom: 10dvh;
  animation: confirmParkingContainerAnimation 0.2s;
}

.confirmParkingContainerAnimation {
  animation: confirmParkingContainerAnimation 0.2s;
}

@keyframes confirmParkingContainerAnimation {
  0% {
    scale: 0.9;
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    scale: 1;
    opacity: 1;
    transform: translateY(0px);
  }
}

.parkingListDiv {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 5dvh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}
