.outerDiv {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  z-index: 3;
}

.fadeBgColor {
  background-color: #7c7c7c91;
  transition: background-color 0.3s ease-in-out;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bgDiv {
  width: 100%;
  height: 100%;
  z-index: 3;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3e3e3e;
  background-color: #fff;
  position: relative;
  width: 100dvw;
  min-height: 40dvh;
  z-index: 4;
}

.slideUp {
  animation: slideUp 0.3s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slideDown {
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.headerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.closeButton {
  position: absolute;
  top: 1.1rem;
  right: 1rem;
  cursor: pointer;
}

.closeButton > img {
  width: 1.5rem;
  height: 1.5rem;
}

.customInputDiv {
  margin-top: -1rem;
}
